/* >>>>>>>>>>>>>>>>> Hero section <<<<<<<<<<<<<<<<< */
section.hero img{
    width: 700px;
}
section.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 85vh;
}
section.hero div:nth-child(1){
    width: 45%;
    display: flex;
    flex-direction: column;
}
section.hero div:nth-child(1) p:nth-child(1){
    font-size: 26px;
    text-transform: uppercase;
    color: var(--naranja);
}
section.hero div:nth-child(1) h1{
    font-size: 112px;
    color: var(--azul-marino);
    padding-bottom: 50px;
}
section.hero div:nth-child(1) p.poppins-medium{
    color: var(--gris-50);
    padding-bottom: 100px;
}
.botones-hero{
    display: flex;
    justify-content: space-around;
}
.botones-hero a:hover{
    cursor: pointer;
}
section.hero div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
/* >>>>>>>>>>>>>>>>> sección lo más vendido <<<<<<<<<<<<<<<<< */
section.mas-vendido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

/* esta parte corresponde al texto de arriba */
section.mas-vendido div:nth-child(1){
    text-align: center;
}
section.mas-vendido div:nth-child(1) p{
    /* font-size: 24px; */
    color: var(--gris-50);
}
section.mas-vendido div:nth-child(1) h2{
    font-size: 66.5px;
    color: var(--azul-marino);
}

/* aqui esta lo que da estilo a la tarjeta */
section.mas-vendido div:nth-child(2) .tarjeta {
    width: 420px;
    height: 610px;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.1);
}

section.mas-vendido div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 20px;
}
section.mas-vendido div:nth-child(2) img{
    max-width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 32px 32px 0px 0px;
}
section.mas-vendido div.tarjeta div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.tarjeta-info{
    display: flex;
    flex-direction: column;
}

div.tarjeta-info div p{
    font-size: 18px;
}
div.tarjeta-info div:nth-child(2) p{
    font-size: 15px;
    color: var(--azul-claro);
}
.tarjeta-hover:hover{
    cursor: pointer;
    transform: scale(1.02);
}
/* Limita el alto del contenedor de texto largo */
.contenedor-texto-ajustable {
    height: 60px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.tarjeta-hover:nth-of-type(2) .contenedor-texto-ajustable p.texto-tamaño{
    font-size: 16px;
}
/* >>>>>>>>>>>>>>>>> sección de itinerarios <<<<<<<<<<<<<<<<< */
section.itinerarios {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    background-image: url(../images/lugares/colombia.jpg);
    background-position: center left;
    background-size: cover;
    position: relative;

    margin-top: 6rem;
    box-shadow: 2px 30px 20px rgba(0, 0, 0, 0.2);
}
section.itinerarios::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    z-index: 0;
}
div.itinerarios{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.itinerarios-info{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.itinerarios-img{
    width: 1000px;
    height: 800px;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotateX(180deg);
}
.itinerarios-img div{
    width: 100%;
    height: 100%;
    background-image: url(../images/lugares/colombia.jpg);
    background-position: center right;
    background-size: cover;
    transform: rotateX(180deg);
}
div.itinerarios div p{
    font-size: 24px;
    color: var(--gris-50);
}
div.itinerarios div h2{
    font-size: 67px;
    color: var(--azul-marino);
    padding-bottom: 45px;
}
div.itinerarios-info{
    display: flex;
    gap: 25px;
}
div.itinerarios-info div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.itinerarios-info div div p{
    font-size: 22px;
}
div.itinerarios-info div div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
}
div.itinerarios-info div i{
    padding: 20px;
    font-size: 35px;
    border-radius: 10px;
    color: #fff;
}
div.itinerarios-info div:nth-child(1) i{
    background-color: var(--amarillo);
}
div.itinerarios-info div:nth-child(2) i{
    background-color: var(--naranja);
}
div.itinerarios-info div:nth-child(3) i{
    background-color: var(--azul-turquesa);
}
/* >>>>>>>>>>>>>>>>> sección de empresas <<<<<<<<<<<<<<<<< */
section.empresas {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 300px;
    width: 90%;
    margin: 0 auto; 
}

section.empresas a{
    padding: 15px;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px 0 15px 0;
}

section.empresas img {
    height: auto;
    width: 200px;
}
section.empresas a:hover{
    transform: scale(1.1);
    cursor: pointer;
}
